footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  left: 0;

  text-align: center;
  height: 62px;
  position: relative;
  background-color: #24252a;

  padding: 0 0;
  z-index: 1;
}

.logofooter {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #f5f5f5;
  font-family: "Teko", sans-serif;
  font-size: 19px;
}
